  
  .btn, .btn:link, .btn:visited  {
    padding: 1rem 3rem;
    border-radius: 50px;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 1.5rem;
    background: #fff;
    text-decoration: none;
    transition: all .2s;
    position: relative;
  }
  
  .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .header__header-btn:active {
      transform: translateY(-1px);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius:50px;
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: all 500ms;
      background: #fff;
  }
  
  .header__header-btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }

  .btn-text {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 1.5rem;
        color: $primary-color;
        text-decoration: none;
        border-bottom: 3px solid $primary-color;
        padding: 10px;
        transition: all 500ms;
      }

      &:hover {
          color: $white;
          transform: scale(1.1);
          background: $dark;
          border-radius: 50px;
      }
  }