.composition {
  position: relative;

  &_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($dark, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 1rem;
    transition: all 0.2s;

    &--p1 {
      left: 0;
      top: 2rem;
    }

    &--p2 {
      right: 2rem;
      top: -2rem;
    }

    &--p3 {
      top: 10rem;
      right: 20%;
    }

    &:hover {
      outline: $dark solid 6px;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba($dark, 0.4);
      z-index: 1;
    }
  }

  &:hover &_photo:not(:hover) {
    transform: scale(0.8);
  }
}
