.section-about {
    padding: 20rem 0;
    margin-top: -20vh;
    background: $white;
}

.section-features {
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.39),
      rgba(85, 197, 122, 0.445)
    ),
    url("../img/hero.jpg") no-repeat;
  background-size: cover;
  transform: skewY(-7deg);
  clip-path: polygon(100% 75vh, 100% 0, 100% 75vh, 0 100%);
  padding: 20rem 0;
}

// .feature-box {
//     height: 30rem;
//     width: 20rem;
//     padding: 10rem;
//     z-index: 9;
// }
