@keyframes moveToRight {
    0% {
      transform: translateX(-100px);
    }
  
    50% {
      transform: translateX(50px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes moveToLeft {
    0% {
      transform: translateX(100px);
    }
  
    50% {
        transform: translateX(-50px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  @keyframes swing {
    50% {
      transform: rotate(-50deg);
    }
  
    70%{
      transform: rotate(100deg);
  
    }
  
    100% {
      transform: rotate(0deg);
    }
  }