html {
  font-size: 62.5%;
}

:root {
  --main-color: #7ed56f;
  --secondary-color: #55c57a;
  --font-color: #28b485;
  --font-size-main: 4rem;
  --font-size-sub: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}
