.heading-about {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $primary-color, $dark);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 500ms;
  margin: 0 auto;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
}

.paragrap {
  font-size: 1.5rem;

  &:not(:last-child) {
      margin-bottom: 2rem;
  }
}
