html {
  font-size: 62.5%; }

:root {
  --main-color: #7ed56f;
  --secondary-color: #55c57a;
  --font-color: #28b485;
  --font-size-main: 4rem;
  --font-size-sub: 1rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

@keyframes moveToRight {
  0% {
    transform: translateX(-100px); }
  50% {
    transform: translateX(50px); }
  100% {
    transform: translateX(0); } }

@keyframes moveToLeft {
  0% {
    transform: translateX(100px); }
  50% {
    transform: translateX(-50px); }
  100% {
    transform: translateX(0); } }

@keyframes swing {
  50% {
    transform: rotate(-50deg); }
  70% {
    transform: rotate(100deg); }
  100% {
    transform: rotate(0deg); } }

.heading-about {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 500ms;
  margin: 0 auto; }
  .heading-about:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700; }

.paragrap {
  font-size: 1.5rem; }
  .paragrap:not(:last-child) {
    margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.clear {
  clear: both; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-8 {
  margin-bottom: 8rem; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.39), rgba(85, 197, 122, 0.445)), url("../img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    color: #fff;
    gap: 1rem;
    backface-visibility: hidden; }

.header__logo-box {
  position: absolute;
  top: 30px;
  left: 40px; }

.logo {
  height: 40px; }

.logo:hover {
  animation: swing 500ms ease-in-out; }

.heading-primary {
  text-transform: uppercase;
  animation: moveToRight 1s ease-in; }

.heading--inner {
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: 25px; }

.heading--sub {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 15px;
  animation: moveToLeft 1s ease-in; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    clear: both;
    content: ""; }
  .row [class^="col-"] {
    float: left;
    margin-bottom: 14rem;
    height: 5rem;
    text-align: center; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }

.composition {
  position: relative; }
  .composition_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(40, 180, 133, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 1rem;
    transition: all 0.2s; }
    .composition_photo--p1 {
      left: 0;
      top: 2rem; }
    .composition_photo--p2 {
      right: 2rem;
      top: -2rem; }
    .composition_photo--p3 {
      top: 10rem;
      right: 20%; }
    .composition_photo:hover {
      outline: #28b485 solid 6px;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(40, 180, 133, 0.4);
      z-index: 1; }
  .composition:hover .composition_photo:not(:hover) {
    transform: scale(0.8); }

.btn, .btn:link, .btn:visited {
  padding: 1rem 3rem;
  border-radius: 50px;
  border: none;
  outline: none;
  color: var(--font-color);
  font-size: 1.5rem;
  background: #fff;
  text-decoration: none;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.header__header-btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 500ms;
  background: #fff; }

.header__header-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.5rem;
  color: #7ed56f;
  text-decoration: none;
  border-bottom: 3px solid #7ed56f;
  padding: 10px;
  transition: all 500ms; }

.btn-text:hover {
  color: #fff;
  transform: scale(1.1);
  background: #28b485;
  border-radius: 50px; }

.section-about {
  padding: 20rem 0;
  margin-top: -20vh;
  background: #fff; }

.section-features {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.39), rgba(85, 197, 122, 0.445)), url("../img/hero.jpg") no-repeat;
  background-size: cover;
  transform: skewY(-7deg);
  clip-path: polygon(100% 75vh, 100% 0, 100% 75vh, 0 100%);
  padding: 20rem 0; }
