.header {
    height: 95vh;
    background: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.39),
        rgba(85, 197, 122, 0.445)
      ),
      url("../img/hero.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__heading-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 40vh;
        color: #fff;
        gap: 1rem;
        backface-visibility: hidden;
    }
  }
  
  .header__logo-box {
    position: absolute;
    top: 30px;
    left: 40px;
  }
  
  .logo {
    height: 40px;
  }
  
  .logo:hover {
    animation: swing 500ms ease-in-out;
  }
  
  .heading-primary {
    text-transform: uppercase;
    animation: moveToRight 1s ease-in;
  }
  
  .heading--inner {
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: 25px;
  }
  
  .heading--sub {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 15px;
    animation: moveToLeft 1s ease-in;
  }