/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
html {
  font-size: 62.5%; }

:root {
  --main-color: #7ed56f;
  --secondary-color: #55c57a;
  --font-color: #28b485;
  --font-size-main: 4rem;
  --font-size-sub: 1rem; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.39), rgba(85, 197, 122, 0.445)), url("../img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.header__logo-box {
  position: absolute;
  top: 30px;
  left: 40px; }

.logo {
  height: 40px; }

.logo:hover {
  animation: swing 500ms ease-in-out; }

.header__heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  color: #fff;
  gap: 2rem;
  backface-visibility: hidden; }

.heading-primary {
  text-transform: uppercase;
  animation: moveToRight 1s ease-in; }

.heading--inner {
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: 25px; }

.heading--sub {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 15px;
  animation: moveToLeft 1s ease-in; }

.btn, .btn:link, .btn:visited {
  padding: 1rem 3rem;
  border-radius: 50px;
  border: none;
  outline: none;
  color: var(--font-color);
  font-size: 1.5rem;
  background: #fff;
  text-decoration: none;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.header__header-btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 500ms;
  background: #fff; }

.header__header-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

@keyframes moveToRight {
  0% {
    transform: translateX(-100px); }
  50% {
    transform: translateX(50px); }
  100% {
    transform: translateX(0); } }

@keyframes moveToLeft {
  0% {
    transform: translateX(100px); }
  50% {
    transform: translateX(-50px); }
  100% {
    transform: translateX(0); } }

@keyframes swing {
  50% {
    transform: rotate(-50deg); }
  70% {
    transform: rotate(100deg); }
  100% {
    transform: rotate(0deg); } }
